.DS_Store
**/.*.log
**/.DS_Store
**/.*.aux
**/.*.out
texput.log
Abridged/cv_4.fls
Abridged/cv_4.fdb_latexmk
**.out
**.aux
**.log
Abridged/cv_4.log
Abridged/cv_4.out
Abridged/.DS_Store
Abridged/cv_4.aux
3Pages_Candoc/cv_4.log
3Pages_Candoc/cv_4.out
3Pages_Candoc/.DS_Store
3Pages_Candoc/cv_4.aux
